<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
</head>
<body>
    <div>
        <form action="./sign_up.html" method="POST">       
            <input type="text" placeholder="username" id="username"><br>
            <input type="text" placeholder="password" id="password"><br>
            <input type="text" placeholder="confirm password" id="confirm_password"><br>
            <button type="submit">Sign Up</button>
            <a href="./login_page.html"><button>Log in</button></a>
            <label for="username"></label>
            <label for="password"></label>
            <label for="confirm_password"></label>
        </form>
    </div>
</body>
</html>